body {
    font-family: Arial, sans-serif;
    background: #f0f4f8;
    text-align: center;
    margin: 0;
    font-size: 18px;
    direction: rtl;
}

.hidden {
    display: none !important;
}

.game-info-container {
    background: white;
    padding: 30px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 600px;
}

.blue-btn {
    background-color: #007bff;
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    border: none;
}

.action-toggle {
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
    background: #f2f2f2;
}

.action-toggle.selected-action {
    background: #cce5ff;
    color: #004085;
    font-weight: bold;
}
