<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>מאמן</title>
    <script src="{{ url_for('static', filename='html2canvas.min.js') }}"></script>
    <script src="{{ url_for('static', filename='jspdf.umd.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div id="logo">
        <span class="logo-text">אסף שטנגל - מאמן מנטלי</span>
    </div>
    <button class="back-home-btn" onclick="window.location.href='/'">חזרה לדף הראשי</button>

    <div id="coach-game-info-container" class="game-info-container">
        <h2>הגדרת פרטי המשחק (מאמן)</h2>
        <div class="input-group">
            <input type="text" id="coach-teamA" placeholder="שם קבוצה א' (מארחת)">
            <h4>צבע לקבוצה א':</h4>
            <div id="coach-teamA-color-palette"></div>

            <input type="text" id="coach-teamB" placeholder="שם קבוצה ב' (אורחת)">
            <h4>צבע לקבוצה ב':</h4>
            <div id="coach-teamB-color-palette"></div>

            <input type="date" id="coach-game-date">
        </div>
        <button id="submit-coach-game-info-btn" class="blue-btn" onclick="submitCoachGameInfo()">המשך</button>
    </div>
</body>
</html>
